{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "packages/ui/src/styles/globals.css",
  "tailwindFunctions": ["cn", "cva"],
  "importOrder": [
    "^react$",
    "^react-dom$",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^@tanstack/(.*)$",
    "",
    "^@base-ui/(.*)$",
    "",
    "^@workspace/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "6.0.0",
  "importOrderCaseSensitive": false
}
